html {
    background-color: #201f1e;
    color: white;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.landing-container {
    height: 100vh;
    /* border: 3px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.canvas-wrap {
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /* border: 3px solid green; */
    position: relative;
    overflow: hidden;
}

.canvas-overlay {
    position: absolute;
    /* border: 3px solid pink; */
    top: 30%;
    /* left: 40%; */
    /* margin: -25px 100px 0 -25px; */
    width: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    background: radial-gradient(#383634, #222121);
    overflow: hidden;
    filter: brightness(80%);
}

#landing-message {
    margin: 0;
    font-size: 60px;
}

.name {
    color: #2587bc;
}

/* ----------------------NAVIGATION BAR ELEMENTS---------------------- */
.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
}

#nav-name {
    font-size: 1.5rem;
    margin: .5rem;
}

.nav-title {
    padding-left: 15%;
}

.navbar-links {
    height: 100%;
    padding-right: 15%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #2587bc;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li a {
        padding: .5rem .5rem .5rem 5rem;;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ----------------------TEXT OVERLAY WITH TYPING EFFECT---------------------- */

#animated-text-container {
    /* border: 3px solid orange; */
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#animated-text {
	display: inline-block;
	vertical-align: middle;
	color: white;
    letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: white;
	animation: blink .75s step-end infinite;
}

/* @keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
} */

#text {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

/* ----------------------BIO CONTAINER---------------------- */

.bio-container {
    /* border: 3px solid purple; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 25px;
}

.bio-links ul {
    padding-inline-start: 0;
}

.bio-header {
    /* border: 3px solid green; */
    display: flex;
}

@media (max-width: 701px) {
    .bio-header {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.bio-links {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.bio-links li {
    list-style: none;
    display: inline;
}


.link-button {
    color: white;
    padding: 0 2rem;
    font-size: 20px;
    line-height: 0;
}

@media (max-width: 484px) {
    .link-button {
        padding: 1rem;
    }
}

.link-button:hover {
    color: #2587bc;
    transform: scale(1);
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    /* border: 3px solid red; */
}

@media (max-width: 1203px) {
    .row {
        flex-direction: column;
    }
}

.col {
    padding-right: 20px;
    padding-left: 20px;
    /* border: 3px solid pink; */
    box-sizing: border-box;
    max-width: 600px;
}

#col-bio-photo {
    text-align: center;
    display: flex;
    align-items: center;
}

.bio-photo {
    align-items: center;
}

#bio-pic {
    max-width:80%;
    padding: 0.25rem;
    height: auto;
}

#col-bio-text {
    font-family: "Lato", sans-serif;
    font-size: 17px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1rem;
    font-size: 20px;
}

#bio-title {
    font-size: 45px;
    font-weight: 700;
}

.bio-text-coloured {
    color: #2587bc;
    text-decoration: none;
}

footer {
    text-align: center;
}
